@import '../../styles/variables';

.section {
  width: $width-section;
  height: $height-section;
  min-width: $width-section;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
